.container {
  background-color: #b8d7cc;
  /* background-color: rgba(184, 215, 204, 0.2); */
  width: 100%;
  height: 100%;
  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
}

.showroomView {
  width: 1100px;
  max-width: 100%;
  height: 600px;
  border: 5px solid white;
  border-radius: 60px;
  padding: 10px;

  display: flex;
  gap: 20px;
}

.characterView {
  background-color: #fafafa;
  flex: 1;
  border-radius: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.configView {
  background-color: #fafafa;
  width: 400px;
  border-radius: 50px;
  padding: 20px;
}

.characterSkin,
.characterColor {
  width: 80px;
  height: 80%;
  background-color: #ffffff;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.characterContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

.characterContainer h1 {
  font-family: 'Sigmar One', sans-serif;
  font-weight: 900;
  font-size: 30px;
  color: bisque;
  -webkit-text-stroke: 1px black;
  text-transform: uppercase;
}

.characterContainer img {
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.character {
  width: 50px;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 5px; */
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
}

.character img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top top;
  transition: all 200ms linear;
}

.character:hover img {
  transform: scale(0.6);
}

.color {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 100%;
  cursor: pointer;
  overflow: hidden;
}

.flex {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}

.title {
  font-size: 15px;
  color: #b8d7cc;
  font-family: 'Sigmar One', sans-serif;
  text-align: center;
  -webkit-text-stroke: 1px black;
}

.props {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.prop {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  height: 100px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.prop img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.prop p {
  font-size: 10px;
  color: black;
  display: none;
}

.prop:hover {
  background-color: antiquewhite;
}
