.container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.selectContainer {
  width: 900px;
  height: 100%;
  max-height: 700px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.selectHeader {
  width: 100%;
  height: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selectHeader .selectHeaderTitle {
  color: white;
  font-weight: 900;
  font-size: 40px;
}

.selectContent {
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.5); */
  /* background-color: rgba(0, 0, 0, 0.3); */
  /* border: 2px solid rgba(255, 255, 255, 0.7); */
  border-radius: 20px;
  position: relative;

  padding: 0 20px;
  overflow: hidden;
}

.selectScroll {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 40px 20px;
}

.card {
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid white; */
}

.card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cardContent {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardTitle {
  font-size: 20px;
}

.cardDescription {
  font-size: 12px;
  color: white;
  font-weight: 200;
  line-height: 20px;
  /* font-family: 'Courier New', Courier, monospace; */
}

.button {
  background-color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  font-size: 12px;
  /* font-family: 'Courier New', Courier, monospace; */
  cursor: pointer;
  margin-top: 20px;
}

.imageContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.transparentBG {
  width: 200px;
  aspect-ratio: 2;
  border-radius: 20%;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 0;
}
