.list_container {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 3px 20px;
  border-bottom: 1px solid #777;
  background-color: rgba(0, 0, 0, 0.2);
}

.count {
  font-size: 30px;
}

.title {
  font-size: 14px;
  text-wrap: nowrap;
}

.count,
.title {
  text-transform: capitalize;
  color: white;
}

.instruction {
  text-align: center;
  background-color: #2e5284;
  padding: 10px;
  border-bottom: 1px solid #777;
}

.instruction > h1 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Sigmar One', Courier, monospace;
  -webkit-text-stroke: 1px #2e5284;
}

.instruction > p {
  font-size: 12px;
  margin-top: 10px;
  line-height: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.direction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  padding-left: 50px;
}

.directionWrap {
  display: flex;
  gap: 10px;
}

.directionIcon {
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid #234b6b;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.directionTitle {
  font-size: 16px !important;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Sigmar One', Courier, monospace;
}

.menu {
  padding: 20px 10px;
}

.menu-title {
  font-size: 28px;
  font-family: 'Sigmar One', Courier, monospace;
  color: #efad23;
  -webkit-text-stroke: 1px #ffffff;
  padding-left: 10px;
}

.menu-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menu-item {
  padding: 5px 10px;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.menu-item .menu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item p {
  font-size: 16px;
}

.menu-item:hover p {
  color: #efad23;
}
