/* @import url('../Shared/UnlockedItems/UnlockedItems.module.css'); */

.list_container {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 3px 20px;
  border-bottom: 1px solid #777;
  background-color: rgba(0, 0, 0, 0.2);
}

.count {
  font-size: 24px;
}

.title {
  font-size: 12px;
  text-wrap: nowrap;
}

.count,
.title {
  text-transform: capitalize;
  color: white;
}

.instruction {
  text-align: center;
  background-color: #2e5284;
  padding: 10px;
  border-bottom: 1px solid #777;
}

.instruction > h1 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Sigmar One', Courier, monospace;
  -webkit-text-stroke: 1px #2e5284;
}

.instruction > p {
  font-size: 12px;
  margin-top: 10px;
  line-height: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.direction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
  padding-left: 50px;
}

.directionWrap {
  display: flex;
  gap: 10px;
  position: relative;
}

.directionIcon {
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid #234b6b;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.directionTitle {
  font-size: 16px !important;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Sigmar One', Courier, monospace;
}

.menu {
  padding: 20px 10px;
}

.menu-title {
  font-size: 28px;
  font-family: 'Sigmar One', Courier, monospace;
  color: #efad23;
  -webkit-text-stroke: 1px #ffffff;
  padding-left: 10px;
}

.menu-list {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menu-item {
  padding: 5px 10px;
}

.menu-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.menu-item .menu-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item p {
  font-size: 16px;
}

.menu-item:hover p {
  color: #efad23;
}

.infoContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.infoProgress {
  background-color: #0064b3;
  border: 20px solid #51d1f4;
}

.infoProgress {
  width: 100%;
  /* height: 300px; */
  flex: 1;
  /* background-color: red; */
}

.infoLinks {
  width: 100%;
  /* height: 200px; */
  /* flex: 1; */
  /* background-color: red; */
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* border: 1px solid red; */
}

.linkWrap {
  background-color: #002575;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5) inset;
  padding: 10px 20px;
  border-radius: 10px;
}

.link {
  font-family: 'Sigmar One';
  color: #efad23;
  font-size: 20px;
  text-transform: uppercase;
}

.wrapContainer {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
  /* padding-top: 20px; */
  padding-bottom: 20px;
}

.wrap {
  background-color: #002575;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5) inset;
  height: 50px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrap h1 {
  font-size: 18px;
  color: #efad23;
  font-family: 'Sigmar One', Courier, monospace;
}

.wrap p {
  font-size: 14px;
  color: #ffffff;
}

.unlockItems {
  width: 100%;
  /* height: 100%; */
  flex: 1;
  background-color: #a6d9f4;
  border-radius: 10px;
  padding: 5px 0px;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

.unlockItems .unlockItemsTitle {
  color: #002575;
  font-size: 18px;
  font-family: 'Sigmar One';
  text-align: center;
  text-transform: uppercase;
}

.viewAllItemsButton {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.user_level {
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  -webkit-text-stroke: 1px #ffffff;
}

/* SLIDER */

.sliderContainer {
  position: relative;
  max-width: 900px;
  /* margin: 32px auto; */
  /* border: 1px solid red; */
  padding: 0 20px;
}

.sliderWrapper {
  position: relative;
  width: 100%;
}

.slider {
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 33.33%;
  padding: 0 8px;
  box-sizing: border-box;
  /* background-color: #f4f4f4; */
  /* border-radius: 10px; */
}

.slide img {
  width: 100%;
  height: 50px;
  object-fit: contain;
  border-radius: 8px;
}

.navButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
  line-height: 18px;

  width: 30px;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.navButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
