.user_section {
  display: flex;
  gap: 10px;
  /* border-bottom: 1px solid #fff; */
  padding: 10px;
  width: 100%;
  align-items: center;
}

.user_image {
  width: 40px;
  aspect-ratio: 1;
  border-radius: 100px;
  background-color: aqua;
}

.user_info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.user_info .user_name {
  font-size: 16px;
  color: #ffffff;
}

.user_info .user_text {
  font-size: 12px;
  color: #ffffff;
}

.user_level {
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #000000;
  -webkit-text-stroke: 1px #ffffff;
}

.list_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
  /* color: #222; */
  padding: 0 20px;
}

.count {
  font-size: 20px;
}

.title {
  font-size: 14px;
  text-wrap: nowrap;
}

.count,
.title {
  text-transform: capitalize;
  color: white;
}

.instruction {
  text-align: center;
  margin-top: 10px;
  background-color: #2e5284;
  padding: 10px;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

.instruction > h1 {
  font-size: 18px;
  text-transform: uppercase;
  font-family: 'Sigmar One', Courier, monospace;
  -webkit-text-stroke: 1px #2e5284;
}

.instruction > p {
  font-size: 12px;
  margin-top: 10px;
  line-height: 20px;
  font-family: 'Courier New', Courier, monospace;
}

.direction {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
  padding-left: 50px;
}

.directionWrap {
  display: flex;
  gap: 10px;
}

.directionIcon {
  display: flex;
  width: 30px;
  height: 30px;
  border: 2px solid #234b6b;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
}

.directionTitle {
  font-size: 16px !important;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Sigmar One', Courier, monospace;
}
