.gasView {
  display: flex;
  height: 60px;
  margin-top: 10px;
  border-bottom: 1px solid #777;
}

.gasCount {
  background: black;
  flex: 1;
}

.unitCount {
  background-color: #426ba9;
  flex: 2;
}

.gasCount,
.unitCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.gasView p {
  font-size: 18px;
  font-family: 'Sigmar One', sans-serif;
  color: #fcd50e;
}
