.button-icon {
  background-color: #e8c754;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;

  /* width: 50px; */
  /* aspect-ratio: 1; */

  border-radius: 10px;
  border: 1px solid #402b26;

  cursor: pointer;
  color: #402b26;

  padding: 5px 20px;
  font-family: 'Sigmar One', sans-serif;
}

.custom-button {
  background-image: url('/assets/elements/green_button.png'); /* Path to your image */
  background-size: contain; /* Make the image cover the button area */
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 70px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  transition: transform 200ms linear;
  z-index: 1;
}

.button-text {
  position: relative;
  z-index: 1;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Sigmar One', sans-serif;
  -webkit-text-stroke: 1px darkgreen;
}

.custom-button:hover {
  transform: scale(1.1);
}
