.elementWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.elementWrapper .title {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  z-index: 2;
  top: -10px;
  font-family: 'Sigmar One', sans-serif;
  text-transform: capitalize;
  -webkit-text-stroke: 1px orangered;
}
.elementWrapper .image {
  width: 100%;
  height: calc(100% + 150px);
  margin-top: -30px;
}

.elementWrapper .children {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: calc(100% - 100px);
  height: calc(100% - 100px);
  /* background-color: pink; */
}
