.cardsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.cardWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 20px; */

  width: 100%;
  padding: 10px;
  cursor: pointer;
  background-color: #001858;
}

.cardTitle {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 4px;
  font-family: 'Sigmar One', sans-serif;
  color: beige;
  text-align: center;
}

.cardWrapper:hover {
  background-color: black;
  border-radius: 10px;
}
