.leader-board {
  width: 280px;
  padding: 20px;
  /* height: 100%; */
  height: 500px;
  overflow-y: auto;
  /* background-color: #0064b3; */
  /* border: 10px solid #51d1f4; */

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.leader-board-title {
  font-size: 20px;
  text-align: center;
  color: #efad23;
  text-transform: uppercase;
  font-family: 'Sigmar One';
}

.leader-board-players {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 10px;
  white-space: nowrap;
}

.leader-board-player {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  position: relative;
  border-radius: 10px;
  /* background-color: rgba(255, 255, 255, 0.4); */
  /* background-color: #002575; */
  /* background-color: #0064b3; */

  background-color: #002575;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5) inset;
}

.leader-board-player-avatar {
  width: 30px;
  aspect-ratio: 1;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.7);

  z-index: 1;
  overflow: hidden;
}

.leader-board-player-info {
  width: 100%;
  display: flex;
  align-items: center;
  /* padding: 10px 20px 10px 10px; */
  padding: 5px 10px;
  gap: 10px;
  cursor: pointer;
}

/* .leader-board-player:hover {
  background-color: rgba(255, 255, 255, 0.6);
} */

.leader-board-player-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.leader-board-player-name,
.leader-board-player-level {
  font-size: 14px;
  color: #ffffff;
}

.leader-board-player-level {
  font-size: 10px;
  color: gold;
}

.leader-board-index {
  font-size: 18px;
  color: gold;
}

/* TAB */

.tab-container {
  /* width: 250px; */
  /* margin: 20px auto; */
  text-align: center;
  font-family: Arial, sans-serif;
}

.tab-header {
  display: flex;
  /* border-bottom: 2px solid #ccc; */
  background-color: #103c9d;
  padding: 4px;
  border-radius: 6px;
  margin-top: 10px;
}

.tab-button {
  flex: 1;
  padding: 6px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 14px;
  color: white;
  border-radius: 6px;
}

.tab-button.active {
  font-weight: bold;
  color: white;
  background-color: #002575;
  box-shadow: 1px 10px 20px rgba(0, 0, 0, 0.5) inset;
}

.tab-content {
  padding: 15px;
  font-size: 18px;
}

.leader-empty {
  font-size: 1.2rem;
  white-space: wrap;
  text-align: center;
  color: #000;
  -webkit-text-stroke: 1px #fff;
  font-family: 'Sigmar One';
  margin-top: 50px;
}
