.authWrapper {
  width: 100%;
  height: 100%;
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #efad23;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
