.authWrapper {
  width: 100%;
  height: 100%;
  background-image: url('/assets/background/login_register background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #efad23;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.logo {
  width: 400px;
  max-width: 100%;
}
