@keyframes fallDiagonalLeft {
  0% {
    transform: translate(0%, 50%);
    opacity: 1;
  }
  100% {
    transform: translate(-300%, 550%);
    opacity: 1;
  }
}

@keyframes fallDiagonalRight {
  0% {
    transform: translate(0%, 50%);
    opacity: 1;
  }
  100% {
    transform: translate(300%, 550%);
    opacity: 1;
  }
}

.fallDiagonalLeft {
  animation: fallDiagonalLeft 2s infinite linear;
  position: absolute;
}

.fallDiagonalRight {
  animation: fallDiagonalRight 2s infinite linear;
  position: absolute;
}
