.road {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 50rem; 
    transform: translateX(-50%);
    /* background: linear-gradient(to bottom, #555 25%, #333 25%, #333 50%, #555 50%, #555 75%, #333 75%); */
    background-size: 100px 60px;
    overflow: hidden;
    clip-path: polygon(30% 0%, 70% 0%, 100% 100%, 0% 100%);
    border-left: 5px solid #444; 
    border-right: 5px solid #444;
  }
  
  .center-line {
    position: absolute;
    width: 4px;
    height: 40px; 
    background-color: white;
    left: 50%;
    transform: translateX(-50%);
    animation: move-line 1s linear infinite;
  }
  
  @keyframes move-line {
    0% {
      top: 0;
    }
    100% {
      top: 100%;
    }
  }
  