.scenery {
  position: absolute;
  top: 120px; /* Start the scenery above the viewable area */
  width: 250px; /* Adjust the width of the scenery */
  height: auto;
}

.left {
  left: 0; /* Position scenery on the left */
}

.right {
  right: 0; /* Position scenery on the right */
}

@keyframes moveLeft {
  0% {
    transform: translate(100%, 10%) scale(0.5);
  }
  100% {
    transform: translate(-750%, 150%) scale(6);
  }
}

@keyframes moveRight {
  0% {
    transform: translate(-75%, 10%) scale(0.5);
  }
  100% {
    transform: translate(750%, 150%) scale(6);
  }
}

.left {
  animation: moveLeft 1s linear infinite;
}

.right {
  animation: moveRight 1s linear infinite;
}

.scenery img {
  width: 100%;
  height: auto;
}
