.game_over {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #ffd90199;
  z-index: 99;

  display: flex;
  justify-content: center;
  align-items: center;
}

.game_over_container {
  max-width: 1000px;
}

.game_over_title {
  color: white;
  font-size: 50px;
}
