.main .bubble {
  position: absolute;
  border-radius: 50%;
  display: block;
  z-index: 1;
}
.main .bubble:nth-child(1) {
  width: 11px;
  height: 11px;
  background: linear-gradient(
    73deg,
    rgba(255, 255, 255, 0.5) 1%,
    transparent 97%
  );
  left: 832px;
  bottom: -30px;
  animation: water-1 8s infinite ease-in 0.2s;
  z-index: 1;
}
@keyframes water-1 {
  20% {
    transform: translatex(-7px);
  }
  40% {
    transform: translatex(3px);
  }
  60% {
    transform: translatex(-3px);
  }
  80% {
    transform: translatex(9px);
  }
  100% {
    opacity: 0.9;
    bottom: 105%;
  }
}
.main .bubble:nth-child(2) {
  width: 25px;
  height: 25px;
  background: linear-gradient(20deg, white 1%, transparent 97%);
  left: 878px;
  bottom: -30px;
  animation: water-2 8s infinite ease-in 0.4s;
  /* z-index: 12; */
}
@keyframes water-2 {
  20% {
    transform: translatex(-4px);
  }
  40% {
    transform: translatex(7px);
  }
  60% {
    transform: translatex(-4px);
  }
  80% {
    transform: translatex(9px);
  }
  100% {
    opacity: 0.6;
    bottom: 105%;
  }
}
.main .bubble:nth-child(3) {
  width: 19px;
  height: 19px;
  background: linear-gradient(
    134deg,
    rgba(255, 255, 255, 0.375) 1%,
    transparent 97%
  );
  left: 862px;
  bottom: -30px;
  animation: water-3 8s infinite ease-in 0.6s;
  /* z-index: 2; */
}
@keyframes water-3 {
  20% {
    transform: translatex(-5px);
  }
  40% {
    transform: translatex(1px);
  }
  60% {
    transform: translatex(-4px);
  }
  80% {
    transform: translatex(11px);
  }
  100% {
    opacity: 1;
    bottom: 105%;
  }
}
.main .bubble:nth-child(4) {
  width: 30px;
  height: 30px;
  background: linear-gradient(163deg, white 1%, transparent 97%);
  left: 1251px;
  bottom: -30px;
  animation: water-4 8s infinite ease-in 0.8s;
  /* z-index: 7; */
}
@keyframes water-4 {
  20% {
    transform: translatex(-4px);
  }
  40% {
    transform: translatex(8px);
  }
  60% {
    transform: translatex(-9px);
  }
  80% {
    transform: translatex(6px);
  }
  100% {
    opacity: 0.7;
    bottom: 105%;
  }
}
.main .bubble:nth-child(5) {
  width: 24px;
  height: 24px;
  background: linear-gradient(134deg, white 1%, transparent 97%);
  left: 1298px;
  bottom: -30px;
  animation: water-5 8s infinite ease-in 1s;
  /* z-index: 10; */
}
@keyframes water-5 {
  20% {
    transform: translatex(-10px);
  }
  40% {
    transform: translatex(6px);
  }
  60% {
    transform: translatex(-4px);
  }
  80% {
    transform: translatex(4px);
  }
  100% {
    opacity: 0.6;
    bottom: 105%;
  }
}
.main .bubble:nth-child(6) {
  width: 24px;
  height: 24px;
  background: linear-gradient(
    14deg,
    rgba(255, 255, 255, 0.625) 1%,
    transparent 97%
  );
  left: 321px;
  bottom: -30px;
  animation: water-6 8s infinite ease-in 1.2s;
  /* z-index: 8; */
}
@keyframes water-6 {
  20% {
    transform: translatex(-8px);
  }
  40% {
    transform: translatex(12px);
  }
  60% {
    transform: translatex(-9px);
  }
  80% {
    transform: translatex(11px);
  }
  100% {
    opacity: 0.9;
    bottom: 105%;
  }
}
.main .bubble:nth-child(7) {
  width: 19px;
  height: 19px;
  background: linear-gradient(61deg, white 1%, transparent 97%);
  left: 159px;
  bottom: -30px;
  animation: water-7 8s infinite ease-in 1.4s;
  /* z-index: 14; */
}
@keyframes water-7 {
  20% {
    transform: translatex(-8px);
  }
  40% {
    transform: translatex(1px);
  }
  60% {
    transform: translatex(-8px);
  }
  80% {
    transform: translatex(4px);
  }
  100% {
    opacity: 0.6;
    bottom: 105%;
  }
}
.main .bubble:nth-child(8) {
  width: 10px;
  height: 10px;
  background: linear-gradient(90deg, white 1%, transparent 97%);
  left: 80px;
  bottom: -30px;
  animation: water-8 8s infinite ease-in 1.6s;
  /* z-index: 5; */
}
@keyframes water-8 {
  20% {
    transform: translatex(-1px);
  }
  40% {
    transform: translatex(4px);
  }
  60% {
    transform: translatex(-5px);
  }
  80% {
    transform: translatex(11px);
  }
  100% {
    opacity: 0.5;
    bottom: 105%;
  }
}
.main .bubble:nth-child(9) {
  width: 25px;
  height: 25px;
  background: linear-gradient(
    152deg,
    rgba(255, 255, 255, 0.25) 1%,
    transparent 97%
  );
  left: 478px;
  bottom: -30px;
  animation: water-9 8s infinite ease-in 1.8s;
  /* z-index: 7; */
}
@keyframes water-9 {
  20% {
    transform: translatex(-8px);
  }
  40% {
    transform: translatex(1px);
  }
  60% {
    transform: translatex(-5px);
  }
  80% {
    transform: translatex(11px);
  }
  100% {
    opacity: 0.4;
    bottom: 105%;
  }
}
.main .bubble:nth-child(10) {
  width: 17px;
  height: 17px;
  background: linear-gradient(
    58deg,
    rgba(255, 255, 255, 0.125) 1%,
    transparent 97%
  );
  left: 1099px;
  bottom: -30px;
  animation: water-10 8s infinite ease-in 2s;
  /* z-index: 6; */
}
@keyframes water-10 {
  20% {
    transform: translatex(-10px);
  }
  40% {
    transform: translatex(11px);
  }
  60% {
    transform: translatex(-10px);
  }
  80% {
    transform: translatex(4px);
  }
  100% {
    opacity: 0.1;
    bottom: 105%;
  }
}

:root {
  --dark: #002c9b;
  --light: #e5be6a;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.fishWrapper {
  animation: fish 1.5s ease infinite alternate;
  transform: translate(-4px, -2px);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
}

/* fish side style */

.container {
  width: 100%;
  /* min-height: 600px; */
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 30px solid #4fd1f3; */
}

.containerTitle {
  text-align: center;
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-family: 'Sigmar One', sans-serif;
  font-weight: 400;
  position: relative;
  z-index: 1;
}

.layout {
  width: 100%;
  display: flex;
  gap: 20px;
  /* height: 450px; */
  max-height: 100%;
}

.flex {
  display: flex;
}

.screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;

  /* margin-right: 15px; */
}

.screenInfo {
  width: 350px;
  background-color: #fffdd0;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 5px;
  /* filter: blur(5px); */
  backdrop-filter: blur(10px);
}

.screen,
.screenInfo {
  position: relative;
  overflow: hidden;
}

.animation {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
  background-color: #426ba9;
  overflow: hidden;
  border-radius: 30px;
}

.question {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  padding: 0 20px;
  /* z-index: 999; */
  backdrop-filter: blur(10px);
  z-index: 99999;
  display: none;
}

.question p {
  font-size: 26px;
  color: white;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;
  padding: 0 10px;
}

.questionList {
  display: flex;
  flex-wrap: wrap;
  /* gap: 10px; */
  /* padding: 10px 10px 0 10px; */
  /* justify-content: space-between; */
  gap: 5px;
  /* background-color: red; */
}

.questionItem {
  color: black;
  font-size: 20px;
  width: 40px;
  height: 40px;

  /* background-color: red; */

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;

  background-color: #2c315c;
  color: white;
}

.questionItem:hover:not(.current) {
  background-color: black;
}

.timer {
  display: flex;
  /* margin-top: 50px; */
  border-top: 1px solid #212322;
  border-bottom: 1px solid #212322;
  height: 80px;
}

.timerLabel {
  background-color: #212322;
  color: #ffd901;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
}

.timerCounter {
  flex: 1;
  background-color: #426ba9;
  color: #ffd901;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  font-size: 20px;
}

.counterLabel {
  font-size: 10px;
  margin-top: 10px;
  text-transform: uppercase;
}

.current {
  background-color: white;
  color: #2c315c;
}

.correct {
  color: rgb(7, 166, 7);
}

.incorrect {
  color: rgb(169, 8, 8);
}

.gameOver {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.gameOverBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameOverBottom h2 {
  font-size: 50px;
  -webkit-text-stroke: 2px brown;
}

.instruction {
  width: 300px;
  text-align: center;
  /* background-color: #2e5284; */
  padding: 20px;
  /* border: 20px solid #4fd1f3; */
  /* border-radius: 10px; */
  margin-top: 2px;
  position: relative;
}

.instruction .instructionContent {
  position: relative;
  z-index: 1;
}

.instruction .instructionContent h1 {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'Sigmar One', Courier, monospace;
  /* -webkit-text-stroke: 1px #ffffff; */
  color: #ffffff;
}

.instruction .instructionContent p {
  font-size: 14px;
  margin-top: 10px;
  line-height: 20px;
  /* font-family: 'Courier New', Courier, monospace; */
  color: #ffffff;
}

.failed {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.failed h1 {
  font-size: 100px;
}

.timerContainer {
  font-size: 28px;
  color: white;
}

.timerName {
  color: #e5be6a;
}

.timeerValue {
  color: white;
}
