.pageWrapper {
  max-width: 1300px;
  margin: 0 auto;
  /* padding: 50px; */
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */

  /* display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  min-height: 500px;
  height: 100%; */
}
