.header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed; */
  /* top: 0; */
  /* left: 0; */
  padding: 10px 20px;
  z-index: 1;
  /* background-color: red; */
  position: relative;
}

.header .title {
  color: white;
  font-size: 20px;
  text-decoration: underline;
}

.backArrow {
  width: 60px;
  height: 60px;
}
