.gameWrapper {
    width: 100%;
    max-width: 1300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    margin: 0 auto;
  }
  
  .gameCenter {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    min-height: 500px;
  }
  
  .title h1 {
    font-size: 50px;
    font-family: 'Sigmar One', 'Courier New', Courier, monospace;
    color: #04acb9;
    -webkit-text-stroke: 1px #ffffff;
  }
  
  .gameCenterLeft,
  .gameCenterRight,
  .gameCenterMiddle {
    padding: 20px;
    border-radius: 20px;
    /* background-color: rgba(9, 100, 122, 0.2); */
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    height: 600px;
  }
  
  .gameCenterLeft,
  .gameCenterRight {
    width: 250px;
    padding: 0;
  }
  
  .gameCenterMiddle {
    flex: 1;
    padding: 0;
    background: none;
    backdrop-filter: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .question {
    background-color: #203c6b;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .question h1 {
    font-size: 50px;
  }
  
  .carContainer {
    background-color: #c39574;
    flex: 1;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .road {
    background-color: #6a6562;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    flex: 1;
    width: 100%;
    position: relative;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
  }
  
  .lane {
    background-color: #6a6562;
    flex: 1;
    width: 100%;
    /* border: 1px solid #675855; */
    display: flex;
    align-items: center;
  }
  
  .centerLine {
    width: 1000%;
    height: 50px;
    position: relative;
    animation: moveRoad 10s linear infinite;
    display: flex;
    align-items: center;
  }
  
  .centerLine::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 10px;
    background-image: linear-gradient(to right, transparent 10%, goldenrod 10%);
    background-size: 200px 10px;
  }
  
  @keyframes moveRoad {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-20%);
    }
  }
  
  .car {
    position: absolute;
    left: 150px;
    transform: translateX(-50%);
    width: 140px;
    height: 70px;
    /* background-color: red; */
    transition: all 500ms ease-in-out;
    z-index: 9;
  
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: rotate(90deg); */
  }
  
  .car .carImage {
    /* width: 100%; */
    height: 200%;
    transform: rotate(90deg);
  }
  
  .car .smokeImage {
    transform: rotate(90deg);
    height: 20px;
    position: absolute;
    top: 20px;
    left: -25px;
    z-index: 9;
    display: none;
    /* width: 30px; */
  }
  
  .answer {
    position: absolute;
    font-size: 50px;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.5); */
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    text-align: center;
    transition: 200ms ease-in-out;
  }
  
  
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
 */

.timer {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.popup {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  animation: popup-animation 1s ease-out;
}

@keyframes popup-animation {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* styles/globals.css */
.feedback-correct {
  color: green;
  font-size: 20px;
  font-weight: bold;
  animation: blink 1s;
}

.feedback-incorrect {
  color: red;
  font-size: 20px;
  font-weight: bold;
  animation: blink 1s;
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.glass-background {
  position: relative;
  overflow: hidden;
}

.glass-background::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/assets/astronaut.png'); 
  background-size: cover;
  background-position: center;
  z-index: -1; 
}

.glass-background-content {
  position: relative;
  z-index: 10; 
}


.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title h1 {
  font-size: 40px;
  font-family: 'Sigmar One', 'Courier New', Courier, monospace;
  color: #efad23;
  -webkit-text-stroke: 1px #ffffff;
}

