.cardsContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.cardWrapper {
  display: flex;
  align-items: center;
  gap: 20px;

  width: 100%;
  padding: 10px;
}

.cardTitle {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 4px;
  font-family: 'Sigmar One', sans-serif;
  color: beige;
}

.card {
  width: 100px;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.card img {
  transition: 200ms ease-in-out;
  border-radius: 5px;
}

.card:hover img {
  transform: scale(1.5);
}

.cardWrapper:hover {
  background-color: #e4c04d;
  border-radius: 10px;
}
